---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  encryptedData:
    password: AgBgZsWG8jeuZSgEhuGOSASaMtH7cueta6e1s64MwyCu/zC4zstF9NpVdx/wOhSMbzLz05FeuZVOzsnEagemLEmT5GH4m0VZuRDnwby35r+RBdxR9ED6PcKpsGaX5+5o2dAWa0962Q2514kH8qMdXcFqZZRPGQ5NcLTkGA54ICjDGjvX7c+1xvA9z5o14DUTwqKP+qSIWmEtWuybRLC/WIFQu5ojyrGoQNdj/e4D1PF6KDFezrhhb3RtVbKSH/qHIJhSm+df0gOnbEUVimLeVMK4C2kAcw8lQZIBvYSijE40I7uTTRLPR/RIrzi855Tf5sn9KMdI/LI4N0gGv4UHK54PUWTBFrPvIhfInPYWEp0LEDOkD8yymCKxtA2XW6m/ztRju6X0/DkkGL68pSbS2SV98VMpI4t7mjDQi05QGn1+unsvubi/xl4PAgYZYY9dDXMsygWCdzFDKthrcM9u5aphz01ZmHgLN26oI7vP1XQseB80VzBC/r6OOGCy0SkK4N4ndOl9GjleJ1XVDG9h6GGGgb+qFh+mu+SCMdYAgwSnnC0epLCrPSVXEVrnFDlI2d9qI3R3Zj7Z/eZDMVHjBMQnlO8CzCyykjRDk7pVqCaYcbGtl5pHveFlMsLJKaharDxAdJdm43HoooKSCZwMFLbykAGRsqUVSHhDwAJR8BNZxw1S7UjaspM4luRt/9cwJm/ZCTT7YbZPqDBU
  template:
    metadata:
      name: grafana-admin
      namespace: monitoring
    type: Opaque
