apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  encryptedData:
    password: AgB48i1EOhC4pOCOJGsyE8ZL4FNDV2y2KJ2c5FPLJkIAo28VqxGZqhgnTzi5as0J7Iytvi+rZkI9QfjgovMWkB6RTT7VMZZPIT6lc6e5pJUClv/tkiwTwIPCUerROODJCDiDXl7WWkiUlbcOY00AwPV1weCjipCw5/OQXVIMNXeHGewDvudS6Cn32xAO+h/3EmaZFSWBT4xHBOolCcTcAcRbAx9zrYyx6zC8TuawJ3/GTnmmS/B6ppwGWP7omSpHrq3uKfJc7N++ecGrPP1j1ifLy71O5gSnM7AP6OI5OxC/R2dHInBH8RZOjXmvR3E3KdYany9oyweeNnSFSLlLGaj0cf0rqg1JdqPbsBOR+Be2yzHEM+k9A9SQklNV/tRA8DYERCkZ8WurY5NfsrPhiyPLGyEdLfWd4+LHvcFmUuhoaldMfHUPKrW7LwJOzfX0JfLdOrXpEuQMbg3MQrRL2D6SvAnunDCsBImjAyVBwM86s7mqAubGajGZccutyauAL78Agb2HmYwzQj6OalZVOh5a6+miX3ABbWHz+J1JuN0Rtr/YGhPeoAm09UduxDloCzgWYev6RMjkn/nPpeJc8rflhQHcIp766L1FG3dn60FnFUzFF485bA+ch/2xAhqD1zl4zJdazYzey01nizWkctEjvPxrBRSZWaM0LA3KAGk2FiDp1UZj0xf3K/VI/YzaDo1lwby/XA==
  template:
    metadata:
      name: grafana-admin
      namespace: monitoring
    type: Opaque
