---
apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config
  namespace: home-assistant
data:
  configuration.yaml: |
    # Loads default set of integrations. Do not remove.
    default_config:

    # Load frontend themes from the themes folder
    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml

    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.42.0.0/16
        - 10.43.0.0/16

    shell_command:
      shutdown_raspberrypi: 'ssh -i /config/.ssh/id_ed25519 -o StrictHostKeyChecking=no jaennil@192.168.3.40 "sudo shutdown -h now"'
      reboot_raspberrypi: 'ssh -i /config/.ssh/id_ed25519 -o StrictHostKeyChecking=no jaennil@192.168.3.40 "sudo reboot"'

    template:
      - button:
          - name: "Выключить Raspberry Pi"
            icon: mdi:power
            press:
              - service: shell_command.shutdown_raspberrypi
          - name: "Перезагрузить Raspberry Pi"
            icon: mdi:restart
            press:
              - service: shell_command.reboot_raspberrypi
  automations.yaml: |
    []
  scripts.yaml: |
    # Scripts
  scenes.yaml: |
    []
