# Copy this file to repo-secrets.yaml and fill in your credentials
# DO NOT commit repo-secrets.yaml to git
apiVersion: v1
kind: Secret
metadata:
  name: repo-github
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: https://github.com/jaennil
  username: jaennil
  password: <YOUR_GITHUB_TOKEN>
